img {
	position: absolute;
}

#bucket {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 20%;
    height: 20%;
}

#gameOver {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#gameOverExit {
	position: relative; 
	left: 65px; 
	top: 415px;
}

#gameOverRestart {
	position: relative; 
	left: 65px;
	top: 425px;
}

#titleSettings {
	position: relative; 
	left: 435px;
	top: 5px;
	height: 3%;
	width: 3%;
}

#titlePlay {
	position: relative;
	left: 68px;
	top: 250px;
}

#titleHowTo {
	position: relative;
	left: 68px;
	top: 253px;
}

#titleLeaderboard {
	position: relative;
	left: 68px;
	top: 250px;
}

#leaderExit {
	position: relative;
	left: 420px;
	top: 5px;
	height: 4%;
	width: 4%;
}


#howToExit {
    position: relative;
    left: 370px;
    top: 36px;
    height: 4%;
    width: 4%;
}

#settingsExit {
    position: relative;
    left: 420px;
    top: 5px;
    height: 4%;
    width: 4%;
}

#life {
	margin-left: 38%;
	z-index: 1;
}

#button {
    background-image: url('buttons/settingsIcon3.png');
    position: absolute;
    top: 25px;
    left: 480px;
    height: 47px;
    width: 47px;
}

#gameOverSubmit{
	display: block;
	position: relative;
	background-image: url("Screens/GameOverSubmit.png");
	background-repeat: no-repeat;
	background-position: 370px 5px;
	left: 370px;
	top: 5px;
}

#scoreSubmitBtn{
	background: none;
	background-image: url("buttons/enterButton.png");
	position: relative;
	padding:0;
	cursor:pointer;
	border: none;
	left: 4%;
	top: 530px;
	width: 400px;
	height: 100px;
	
}

#nameField{
	position: relative;
	left: 16%;
	top: 475px;
}

<<<<<<< HEAD


=======
#score {
	position: absolute;
	margin-left: 48%;
	margin-top: 11%;
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 24px;
	z-index: 1;
}
>>>>>>> master
