img {
	position: absolute;
}

#bucket {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 20%;
    height: 20%;
}

#gameOver {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#gameOverExit {
	position: relative; 
	left: 65px; 
	top: 415px;
}

#gameOverRestart {
	position: relative; 
	left: 65px;
	top: 425px;
}

#titleSettings {
	position: relative; 
	left: 435px;
	top: 5px;
	height: 3%;
	width: 3%;
}

#titlePlay {
	position: relative;
	left: 68px;
	top: 250px;
}

#titleHowTo {
	position: relative;
	left: 68px;
	top: 253px;
}

#titleLeaderboard {
	position: relative;
	left: 68px;
	top: 250px;
}

#leaderExit {
	position: relative;
	left: 420px;
	top: 5px;
	height: 4%;
	width: 4%;
}


#howToExit {
    position: relative;
    left: 370px;
    top: 36px;
    height: 4%;
    width: 4%;
}

#settingsExit {
    position: relative;
    left: 420px;
    top: 5px;
    height: 4%;
    width: 4%;
}

#life {
	margin-left: 38%;
	z-index: 1;
}
