img {
	position: absolute;
}
/*
#bucket {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    width: 20%;
    height: 20%;
}
*/

#arrowKeys {
	position: absolute;
	width: 12%;
	height: auto;
	margin-left: 35%;
	top: 45%;
	z-index: 1;
}

#ADKeys {
	position: absolute;
	width: 12%;
	height: auto;
	margin-left: 55%;
	top: 45%;
	z-index: 1;
}

#titleScreen {
	display: block;
	width: 37%;
	height: 95%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:0;
/*	width: auto;
	height: 95%*/
}

#gameOver {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#gameOverScreen{
	display: block;
	width: 37%;
	height: 95%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:0;
}

#gameOverExit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	width: 30%;
	height:15%;
	left: 0;
	right: 0;
}

#gameOverRestart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 70%;
	width: 30%;
	height:15%;
	left: 0;
	right: 0;
}

#button {
	background-image: url('buttons/settingsIcon3.png');
    position: absolute;
	display: block;
	width: 46px;
	height: 46px;
	top:1%;
	margin-left:61.5%;
}

#titlePlay {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 40%;
	width: 30%;
	left: 0;
	right: 0;
}

#titleHowTo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 55%;
	width: 30%;
	left: 0;
	right: 0;
}

#titleLeaderboard {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 70%;
	width: 30%;
	left: 0;
	right: 0;
}

#leaderExit {
	position: relative;
	left: 420px;
	top: 5px;
	height: 4%;
	width: 4%;
}

#howTo {
	display: block;
	width: 37%;
	height: 95%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:0;
}

#howToExit {
    margin-left:55%;
	top: 6%;
    height: 9%;
    width: 4%;
}

#settingsExit {
    position: relative;
    left: 420px;
    top: 5px;
    height: 4%;
    width: 4%;
}

#life {
	margin-left: 53%;
	z-index: 1;
}

#gameOverSubmit{
	display: block;
	position: relative;
	background-image: url("Screens/GameOverSubmit.png");
	background-repeat: no-repeat;
	background-position: 370px 5px;
	left: 370px;
	top: 5px;
}

#scoreSubmitBtn{
	background: none;
	background-image: url("buttons/enterButton.png");
	position: relative;
	padding:0;
	cursor:pointer;
	border: none;
	left: 4%;
	top: 530px;
	width: 400px;
	height: 100px;
	
}

#nameField{
	position: relative;
	left: 16%;
	top: 475px;
}

#score {
	position: absolute;
	margin-left: 63%;
	top: 25%;
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 24px;
	z-index: 1;
}

#prompt {
	position: absolute;
	text-align: center;
	width: 100%;
	color: white;
	top: 35%;
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 24px;
	z-index: 1;
}

#sky {
	display: block;
	width: 37%;
	height: 95%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.bucket{
	display:block;
}
.targetShape{
	position:absolute; 
	top:26%;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	width:5%;
	height:10%;
}
.speechBubble{
	position:absolute;
	top:0%;	
	margin-left:31%;
	width:12%;
}
.fallingObject{
	width:7%;
}
#LeftPlace, #leftHand{
	width:17%;
	height:20%;
	position:absolute;
	margin-left:31.6%;
}
#RightPlace, #rightHand{
	width:17%;
	height:20%;
	position:absolute;
	margin-left:51%;
}
#MidPlace{
	width:18%;
	height:20%;
	position:absolute;
	margin-left:42%;
}
#frame{
	width:auto;
	height:auto;
}

.fallingObject{
	position:absolute;
	top:20%;
	z-index: 1;
}
#laneContainer{
	width: 37%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
	z-index:1;
}
html{
	width:100%;
	height:100%;
	display:inline;
	margin: 0;
    padding: 0;
    border: 0;
}
body{
	display:inline;
	width:100%;
	height:100%;
	margin:0;
	margin-bottom:0;
}
#pauseIcon{
	background-color:transparent;
	background-image:url("buttons/pauseIcon.png");
	background-size:100% 100%;
	border:0;
}
#achive{
	position:absolute;
	background-color:transparent;
	background-image:url("buttons/achiveIcon.png");
	background-size:100% 100%;
	margin-left:33%;
	top:1%;
	width:46px;
	height:46px;
	border:0;
	z-index:2;
}

#menu{
	display: none;
	width: 37%;
	height: 95%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	overflow:hidden;
	top:0;
}
#pauseBackground,#achiveBackground{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index:1;
	
}
#resumeButton{
	display: none;
	z-index:2;
	top:30%;
	width:67%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#mainMenuButton{
	display: none;
	z-index:2;
	top:45%;
	width:67%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#restartButton{
	display: none;
	z-index:2;
	top:60%;
	width:67%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#settingsButton{
	display: none;
	z-index:2;
	top:75%;
	width:67%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#returnAchive{
	display: none;
	z-index:2;
	top:80%;
	width:67%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#firstAchive{
	display: none;
	z-index:2;
	top:61%;
	width:35%;
	height:20%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#secondAchive{
	display: none;
	z-index:2;
	top:40%;
	width:35%;
	height:20%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#thirdAchive{
	display: none;
	z-index:2;
	top:19%;
	width:35%;
	height:20%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
#achivePopup{
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	position:absolute;
	background-image:url("graphics/achivePopup.png");
	display: none;
	z-index:2;
	background-repeat:no-repeat;
	width: 35%;
	height:20%;
	top:0;
	background-size: 100% 100%;
}
#achiveIcon{
	margin-left:10%;
	width:30%;
	height:50%;
	display: none;
	top:10%;
	z-index:2;
}


@media(max-width:800px){
	.targetShape{
		position:absolute; 
		top:26%;
		margin-left:auto;
		margin-right:auto;
		left:0;
		right:0;
		width:15%;
		height:10%;
	}
	.speechBubble{
		position:absolute; 
		top:4%;
		margin-left:0%;
		width:40%;
	}
	.fallingObject{
		width:20%;
		height:15%;
	}
	.tutKeys {
		display: none;
	}
	#LeftPlace, #leftHand{
		width:35%;
		height:20%;
		position:absolute;
		margin-left:0%;
	}
	#RightPlace, #rightHand{
		width:33%;
		height:20%;
		position:absolute;
		margin-left:65%;
	}
	#MidPlace{
		width:33%;
		height:20%;
		position:absolute;
		margin-left:35%;
	}
	#prompt {
		position: absolute;
		text-align: center;
		width: 100%;
		color: white;
		top: 36%;
		font-family: "Comic Sans MS";
		font-style: bold;
		font-size: 16px;
		z-index: 1;
	}
			
	#button {
		background-image: url('buttons/settingsIcon3.png');
		position: absolute;
		display: block;
		/*margin-left: 53%;*/
		width: 46px;
		height: 46px;
		top:1%;
		float:right;
		right:5%;
	}
	#gameOverScreen{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		margin-left: 0;
		margin-right: 0;
		left: 0;
		right: 0;
		top:0;
	}

	#gameOverExit {
		display: block;
		margin-left: auto;
		margin-right: auto;
		top: 50%;
		width: 75%;
		height:20%;
		left: 0;
		right: 0;
	}

	#gameOverRestart {
		display: block;
		margin-left: auto;
		margin-right: auto;
		top: 70%;
		width: 75%;
		height:20%;
		left: 0;
		right: 0;
	}
	
	#howToExit {
		margin-left:65%;
		top: 6%;
		height: 10%;
		width: 10%;
	}
	#menu{
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		right: 0;
		overflow:hidden;
	}
	#pauseBackground{
		display: none;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index:1;
	
	}
	#resumeButton{
		display: none;
		z-index:2;
		top:30%;
		width:67%;
	}
	#mainMenuButton{
		display: none;
		z-index:2;
		top:45%;
		width:67%;
	}
	#restartButton{
		display: none;
		z-index:2;
		top:60%;
		width:67%;
	}
	#settingsButton{
		display: none;
		z-index:2;
		top:75%;
		width:67%;
	}
	#achive{
		position:absolute;
		background-color:transparent;
		background-image:url("buttons/achiveIcon.png");
		background-size:100% 100%;
		margin-left:5%;
		top:1%;
		width:46px;
		height:46px;
		border:0;
		z-index:2;
	}
	#returnAchive{
		display: none;
		z-index:2;
		top:80%;
		width:62%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
}


