   
#scoreGameOver {
	text-align: center;
	display:block;
	position: relative;
	margin-left: auto;
	margin-right:auto;
	margin-top: auto;
	margin-bottom: auto;
	right:0;
	left:0;
	font-family: "Comic Sans MS";
	font-style: bold;
	font-size: 72px;
	z-index: 1;
	color: #FFFFFF;
}

#form {
	margin-left: auto;
	margin-right:auto;
	margin-top: auto;
	margin-bottom: auto;
	right:0;
	left:0;
}
  
#nameFieldSubmit{
	position: absolute;
	margin-left: auto;
	margin-right:auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 42%;
	right:0;
	left:50%;
	color: #FFFFFF;
	font-family: Comic Sans MS;
	font-style: bold;
	border: none;
	outline: none;
	background: transparent;
	font-size: 24px;
    z-index: 1;
} 

#nameFieldSubmit:focus{
	color: #FFFFFF;
}

img {
	position: absolute;
}

#gameOver {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#gameOverScreen{
	display: block;
	width: 37%;
	height: 95%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:0;
}

#gameOverExit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 75%;
	width: 30%;
	height:15%;
	left: 0;
	right: 0;
}

#gameOverRestart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 65%;
	width: 30%;
	height:15%;
	left: 0;
	right: 0;
}

#scoreSubmitBtn{
	display:block;
	background: none;
	background-image: url("buttons/enterButton.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	padding:0;
	border: none;
	margin-left: auto;
	margin-right:auto;
	top: 55%;
	right:0;
	left:0;
	width: 30%;
	height: 15%;			
	z-index: 1;
} 

#settingsExit {
    position: relative;
    left: 420px;
    top: 5px;
    height: 4%;
    width: 4%;
}

#frame{
	width:auto;
	height:auto;
}

html{
	width:100%;
	height:100%;
	display:inline;
	margin: 0;
    padding: 0;
    border: 0;
}
body{
	display:inline;
	width:100%;
	height:100%;
	margin:0;
	margin-bottom:0;
}

@media(max-width:800px){
			
	#button {
		background-image: url('buttons/settingsIcon3.png');
		position: absolute;
		display: block;
		/*margin-left: 53%;*/
		width: 46px;
		height: 46px;
		top:1%;
		float:right;
		right:5%;
	}
	#gameOverScreen{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		margin-left: 0;
		margin-right: 0;
		left: 0;
		right: 0;
		top:0;
	}

	#gameOverExit {
		display: block;
		margin-left: auto;
		margin-right: auto;
		top: 75%;
		width: 75%;
		height:20%;
		left: 0;
		right: 0;
	}

	#gameOverRestart {
		display: block;
		margin-left: auto;
		margin-right: auto;
		top: 65%;
		width: 65%;
		height:20%;
		left: 0;
		right: 0;
	}
	
	#scoreGameOver {
		
		text-align: center;
		display:block;
		position: relative;
		margin-left: auto;
		margin-right:auto;
		margin-top: auto;
		margin-bottom: auto;
		right:0;
		left:0;
		font-family: "Comic Sans MS";
		font-style: bold;
		font-size: 72px;
		z-index:1;
		color: #FFFFFF;
	}
	
	#scoreSubmitBtn{
	display:block;
	background: none;
	background: url("buttons/enterButton.png") no-repeat;
	background-repeat: none;
	cursor: pointer;
	position: absolute;
	padding:0;
	border: none;
	margin-left: auto;
	margin-right:auto;
	top: 55%;
	right:0;
	left:0;
	width: 75%;
	height:20%;
	} 
	
	#nameFieldSubmit{
		position: absolute;
		margin-left: auto;
		margin-right:auto;
		margin-top: auto;
		margin-bottom: auto;
		top:42%;
		right:0;
		left:50%;
		color: #FFFFFF;
		font-family: Comic Sans MS;
		font-style: bold;
		border: none;
		outline: none;
		background: transparent;
		font-size: 24px;
		z-index: 1;
	} 
} 



